.container{
  max-width: 100vw;
  min-height: 100vh;
  padding: 5vw 5vw;
  background-color: #eee;
  font-family: Helvetica;
  display: flex;
  justify-content: space-between;
}
.perfil{
  max-height: 90vh;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
}
.persona{
  display: flex;
}
.contacto{
  padding: 10px 20px;
  background-color: #4C4C4C;
  transition: 0.8s;
  color: #fff;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.contacto:hover{
  background-color: red;
  transition: 0.8s;
}
.social{
  background-color: #fff;
  padding: 30px 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
}
.cv{
  background-color: #ffffff;
  padding: 3vw;
  display: flex;
  flex-direction: column;
}
.who{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h2{
  color: #B3B3B3;
}
.description{
  display: flex;
  justify-content: space-between;
  color: #B3B3B3;
}
.description div{
  margin-right: 20px;
}
.datos{
  display: flex;
  justify-content: space-around;
}
.datos > div{
  display: flex;
}
.negritas, .datos2{
  margin-top: 3vh;
  padding: 2vw;
  border: 1px solid #B3B3B3;
  border-bottom: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.datos2{
  background-color: #eee;
}
.profecional{
  display: flex;
  flex-direction: column;
}
.profecional img{
  align-self: flex-start;
}
.design{
  display: flex;
  justify-content: space-between;
}
.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  margin-top: 8vh;

}
.skills01,.skills02,.skills03{
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}
.progress{
  width: 50vw;
  height: 2vh;
  border-radius: 5px;
  background-color: #eee;
}
.color01{
  width: 1vw;
  height: 2vh;
  border-radius: 5px;
  background-color: #B3B3B3;
}

.color02{
  width: 1vw;
  height: 2vh;
  border-radius: 5px;
  background-color: red;
}

.color03{
  width: 1vw;
  height: 2vh;
  border-radius: 5px;
  background-color: black;
}

@media (max-width: 900px) {
  .container{
    display: flex;
    flex-direction: column;
  }
  .perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
  }
  .persona{
    display: flex;
    width: 100%;
  }
  .persona img{
    width: 100%;
  }
  .contacto{
    display: flex;
    font-size: 12px;
  }
  .datos{
    flex-direction: column;
  }
  .social{
    padding: 50px 0;
  }
  .datos > div{
    display: flex;
  }
  .date{
    width: 70%;
  }
}


